@page
@model MiniDashboard.Pages.CreateModel
@{
}

<h1>Create Task</h1>
<form method="post">
    <label>Title</label>
    <input type="text" asp-for="Task.Title" />
    <label>Description</label>
    <textarea asp-for="Task.Description"></textarea>
    <label>Status</label>
    <select asp-for="Task.Status">
        <option>Pending</option>
        <option>In Progress</option>
        <option>Completed</option>
    </select>
    <button type="submit">Save</button>
</form>
